* {
  margin:0;
  padding:0;
}

body {
  overflow-x: hidden;
  background-color: black;
}

.hero_text {
  width:93vw;
  height:20vh;
  font-size:20vh;
  font-family: "good-times", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero_text_1 {
  color:white;
}

.hero_text_2 {
  color:red;
}

.navbar {
  position:sticky;
  display:flex;
  top:0;
  left:0;
  width:100vw;
  height:5vh;
  color:white;
  background-color: cyan;
  z-index: 1000;
}